

.column-one {
  width: 30%; /* This will limit their width to 30% of the parent container width */
  overflow: auto; /* This will add scrollbars if the content inside the divs is too wide */
  text-align: center; /* Center text in the column */
  background-color: #f2eee9;
}

.column-two {
  width: 70%; /* This will limit their width to 70% of the parent container width */
  overflow: auto; /* This will add scrollbars if the content inside the divs is too wide */
  text-align: center; /* Center text in the column */
  background-color: #ceccb8;
}

.content {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  height: 100vh;
  flex-wrap: nowrap; /* Do not wrap the flex items */
}

.welcome-message {
  padding: 16px;
  text-align: left; /* this will align text to the left for both Welcome and Message */
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
