.app {
  background-color: #f2eee9;
}


.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-top: 10px;
}

.form input {
  margin-bottom: 10px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #42382e;
  padding-left: 10px;
  margin-top: 5px;
}

.button{
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 40px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  color: #f2eee9;
  background-color: #4B5A68;
  width: 200px;
  cursor: pointer;
}

.status{
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: #42382e;
}

.Dashboard{
  width: 100%;
  max-width: 80%;
}

.button.pressed {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.button.disabled {
  background-color: gray;
  cursor: not-allowed;
}

.getStarted{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.loginActions{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.loginOr{
  font-size: 28px;
}

.loginSwitch{
  font-size: 18px;
}

.navContents{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 991px) {
  .navContents {
    margin-left: 65px;
    margin-right: 65px;
  }
}

@media (max-width: 767px) {
  .navContents {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 479px) {
  .navContents {
    margin-left: 10px;
    margin-right: 10px;
  }
}



.navbar {
  background-color: #4B5A68;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  margin-left: 20px;
}


.navButtons a {
  color: #f2eee9; /* Makes the text color white */
  text-decoration: none; /* Removes underline */
  font-size: 14px;
}

.navButtons a:hover {
  color: #f2eee9; /* Makes the text color white even when hovered */
}

.navButtons .logout {
  color: #4b5a68;  /* Changes the button's text color to white */
}

.logout{
grid-row-gap: 8px;
background-color: #f2eee9;
border-radius: 3px;
flex: 0 auto;
justify-content: center;
align-items: center;
margin-top: 5px;
margin-bottom: 5px;
padding: 8px 20px;
display: flex;
border: none;
cursor: pointer;
}


.logoutText{
  height: 24px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  font-stretch: expanded;
}


.content {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  height: 100vh;
  flex-wrap: nowrap; /* Do not wrap the flex items */
}

.column-one {
  display: flex;
  justify-content: center;
  width: 40%; 
  overflow: auto;
  text-align: center;
  background-color: #f2eee9;
  min-height: 100vh;
  padding-left: 16px;
  padding-right: 16px;

}


.column-two {
  font-size: 12px;
  width: 100%; /* This will limit their width to 70% of the parent container width */
  overflow: auto; /* This will add scrollbars if the content inside the divs is too wide */
  text-align: left;
  background-color: #ceccb8;
  min-height: 100vh;
  padding: 60px;
  border-radius: 20px 0 0 0;
  display: flex;
  justify-content: center;
}

/* Media query for screens 1000px or less */
@media screen and (max-width: 1000px) {
  .content {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .column-one {
    width: 100%;
    min-height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .column-two{
    width: 100%;
  }
}

.infoContent{
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.thumbnail{
  width: 100%;
  max-width: 425px;
}

.userInfo{
  width: 100%;
}

.titleThumbView{
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.thumbButton{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: end;
}

.buttonLink{
  width: 200px;
}

@media screen and (max-width: 1000px) {
  .userInfo {
    height: auto;
  }
}

.welcome-message{
  font-size: 28px;
  font-weight: 100;
  color: #42382e;
  margin-left: 20px;
  margin-right: 20px;
  padding: 16px;
  text-align: left; /* this will align text to the left for both Welcome and Message */

}

.loginHeader{
  font-size: 32px;
  font-weight: 900;
  color: #42382e;
  display: flex;
  justify-content: center;
}

.form{
  max-width: 80%;
  width: 100%;
}

.error {
  color: #4b5a68;
  font-size: large;
}

.backToLogin{
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 40px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  color: #f2eee9;
  background-color: #96764F;
  width: 200px;
  cursor: pointer;
}

.confirmOrBack{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.userMessage{
  width: 100%;
  font-size: 40px;
  font-weight: 900;
  color: #42382e;
  padding-top: 16px;
  text-align: left; /* this will align text to the left for both Welcome and Message */
}

@media (min-width: 1001px) and (max-width: 1300px) {
  .userMessage {
    font-size: 2vw;
  }
}


.status-indicator {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 40px;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* The container for the circle has a fixed height */
}

.circle-inner {
  border-radius: 50%;
}

.large-circle .circle-inner {
  width: 50px;
  height: 50px;
  background-color: #4b5a68;
  box-shadow: 5px 4px 0px 0px rgba(0, 0, 0, 0.2);
}

.small-circle .circle-inner,
.publishing-site .circle-inner {
  width: 25px;
  height: 25px;
  background-color: #4b5a68;
}

.subtitle {
  text-align: center;
  width: 175px;
  height: 15px;
  font-weight: 900;
  color: #42382e;
}

@media (max-width: 1135px) {
  .subtitle {
    width: 120px;
}
}

@media (max-width: 400px) {
  .subtitle {
    width: 100px;
}
}

.status-item {
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the items vertically */
  height: 100px; /* This will give enough space for the circle and subtitle */
  position: relative; /* This will allow the absolute positioning of child elements */
}