@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



#name {
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #42382e;
  width: 100%;
  padding-left: 5px;
  font-size: 16px;
  background-color: white;
}

@media (max-width: 1000px) {
  #name {
    width: auto;
  }
}

.inputs {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
}


@media (max-width: 1000px) {
  .inputs {
    display: flex;
    flex-direction: column;
  }
}


.instructions {
  font-size: 30px;
  width: 100%;
  text-align: center;
  color: black;
}

@media (max-width: 400px) {
  .instructions {
    font-size: 20px;
  }
}

@media (max-width: 460px) {
  .instructions {
    font-size: 22px;
  }
}

.stripe-form {
  width: 100%;
  max-width: 500px;
  /* Or any other width you prefer */
}

#payment-form {
  background-color: #bdd7d7;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  /* or whatever maximum width you want */
  margin: 0 auto;
  /* this will center the form */
  gap: 20px;
}


#payment-form p {
  color: black;
}

hr {
  border: none;
  height: 1px;
  color: #333;
  /* background color */
  background-color: #333;
  /* same as border color */
  width: 50%;
  /* length of the line */
  margin: auto;
  /* center the line */
  margin-bottom: 60px;
}

.cardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
}


#card-element {
  width: 100%;
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

#submit {
  font-size: 1rem;
  line-height: clamp(2.875em, 5.5vw, 3.5em);
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: #fff;
  min-width: 9.375rem;
  padding: 0 1.5rem;
  background-color: #3A2EFE;
  border-radius: 0.25rem;
  display: inline-block;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}

#submit:disabled {
  background-color: #9b9b9b;
  cursor: not-allowed;
}

.priceTag {
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 20px;
}

@media (max-width: 1350px) {
  .priceTag {
    flex-direction: column;
  }
}

.pmtInfo {
  font-size: 24px;
  width: 50%;
  font-weight: 900;
  color: black;
}

@media (max-width: 1350px) {
  .pmtInfo {
    width: 100%;
  }
}



@media (max-width: 440px) {
  .pmtInfo {
    font-size: 16px;
  }
}


.recurring {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}




.oneTimePmt {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}



.price {
  font-weight: 900;
  font-size: 38px;
  color: black;
}

@media (max-width: 1135px) {
  .priceTag {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}

@media (max-width: 400px) {
  .price {
    font-weight: 900;
    font-size: 24px;
    color: #42382e;
  }
}

.active {
  color: #3A2EFE;
  font-weight: 900;
  font-size: 30px;
  width: 100%;
  text-align: start;
}

.nextPayment {
  font-size: 30px;
  width: 100%;
  text-align: start;
  color: black;
}

.status-message {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.status-message2 {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 40px;
}

.errorDiv{
  width: 100%;
  display: flex;
  justify-content: end;
  font-size: 14px;
  font-weight: 900;
}


@media (max-width: 1135px) {
  .errorDiv{
    justify-content: center;
  }
}